
<div class="details">
<h5>
<img src="<%=@game.player_image() %> "><br>
<%= @game.name() %><br>
Deposited Ksh:<%=@game.amount() %><br>
Selection:<%=@game.choice() %><br>
Player Name:<%=@game.player2() %><br>
</h5>
</div>

Balance <%= @balance %>



<form action="/available" method="post">

    
    <label for="amount">Amount:</label>
  <input id="amount" name="amount" type="number" placeholder="Enter amount" min="50" max="10000">
  <label for ="choice">Select:</label>
  <input id="choice" name="choice" type ="number" placeholder="1 or 2">
   <label for="game">game:</label>
  <input id="game" name="game" type="text" value="<%= @game.name() %>">


  
    

    <button class="enjoy-css" type="submit">Place Bet</button>
  </form>
